<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="./stylesheets/style1.css">

<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

    body {
        background-color: #eeeeee;
        font-family: 'Open Sans', serif;
        font-size: 14px
    }

    .container-fluid {
        margin-top: 70px
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.40rem
    }

    .img-sm {
        width: 80px;
        height: 80px
    }

    .itemside .info {
        padding-left: 15px;
        padding-right: 7px
    }

    .table-shopping-cart .price-wrap {
        line-height: 1.2;
        margin: 10px auto;
        padding: 10px;
    }

    .table-shopping-cart .price {
        font-weight: bold;
        margin-right: 5px;
        display: block
    }

    .text-muted {
        color: #969696 !important
    }

    a {
        text-decoration: none !important
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0px
    }

    .itemside {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%
    }

    .dlist-align {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    [class*="dlist-"] {
        margin-bottom: 5px
    }

    .coupon {
        border-radius: 1px
    }

    .price {
        font-weight: 600;
        color: #212529
    }

    .btn.btn-out {
        outline: 1px solid #fff;
        outline-offset: -5px
    }

    .btn-main {
        border-radius: 2px;
        text-transform: capitalize;
        font-size: 15px;
        padding: 10px 19px;
        cursor: pointer;
        color: #fff;
        width: 100%
    }

    .btn-light {
        color: #ffffff;
        background-color: #F44336;
        border-color: #f8f9fa;
        font-size: 12px
    }

    .btn-light:hover {
        color: #ffffff;
        background-color: #F44336;
        border-color: #F44336
    }

    .btn-apply {
        font-size: 11px
    }
    .quantity {
        margin: 10px auto;
        padding: 10px;
    }

    #qty1,
    #qty2,
    #qty3 {
        display: flex;
        justify-content: space-evenly;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <aside class="col-lg-9">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right d-none d-md-block" width="200"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="https://i.imgur.com/1eq5kmC.png" class="img-sm">
                                        </div>
                                        <figcaption class="info"> <a href="#" class="title text-dark"
                                                data-abc="true">Tshirt with round nect</a>
                                            <p class="text-muted small">SIZE: L <br> Brand: MAXTRA</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td id="qty1"> <button type="button" class="increment">+</button>
                                    <div class="quantity">1</div> <button type="button" class="decrement">-</button>
                                </td>
                                <td>
                                    <div class="price-wrap"> <var class="price" id="price1">$10.00</var></div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="https://i.imgur.com/hqiAldf.jpg" class="img-sm">
                                        </div>
                                        <figcaption class="info"> <a href="#" class="title text-dark"
                                                data-abc="true">Flower Formal T-shirt</a>
                                            <p class="text-muted small">SIZE: L <br> Brand: ADDA </p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td id="qty2"> <button type="button" class="increment">+</button>
                                    <div class="quantity">1</div> <button type="button" class="decrement">-</button>
                                </td>
                                <td>
                                    <div class="price-wrap"> <var class="price" id="price2">$15</var></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside"><img src="https://i.imgur.com/UwvU0cT.jpg" class="img-sm">
                                        </div>
                                        <figcaption class="info"> <a href="#" class="title text-dark"
                                                data-abc="true">Printed White Tshirt</a>
                                            <p class="small text-muted">SIZE:M <br> Brand: Cantabil</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td id="qty3"> <button type="button" class="increment">+</button>
                                    <div class="quantity">1</div> <button type="button" class="decrement">-</button>
                                </td>
                                <td>
                                    <div class="price-wrap"> <var class="price" id="price3">$9</var></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </aside>
        <aside class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right ml-3" id="totalprice">$34.00</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Discount:</dt>
                        <dd class="text-right text-danger ml-3">- $10.00</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total:</dt>
                        <dd class="text-right text-dark b ml-3" id="finalprice"><strong>$24.00</strong></dd>
                    </dl>
                    <hr>
                    <div id="rocket-fuel" style="display: none;">
                    <a href="javascript:void(0)" id="placeOrderBtn" onclick="placeOrder()"
                        class="btn btn-out btn-primary btn-square btn-main" data-abc="true"> Make Purchase </a>
                    <a href="javascript:void(0)" id="rocketFuelBtn" onclick="startPayment()" style="display: block;white-space: break-spaces;line-height: 0.9;"
                        class="btn btn-out btn-success btn-square btn-main mt-2 mb-2" data-abc="true">Make Payment With
                        Rocketfuel</a>
                    </div>
                    <div id="rocket-fuel-login">
                        <input type="button" value="login" class="btn btn-out btn-primary btn-square btn-main" onclick="showInputToken()" > 
                    </div>
                    <div id="rocketfuel_login" style="display: none;">
                        <input id="rkfltokenlogin" type="text" placeholder="rkfltoken" >
                        <button type="button" onclick="setTokenAndAuth()">Submit  </button>

                    </div>
                    <div id="rocket-fuel-signup">
                        <input type="button" value="sign-Up" class="btn btn-out btn-primary btn-square btn-main" onclick="openSignUp()" > 
                    </div>
                    <div id="rkfltoken">
                    </div>
                </div>
                
                </div>
            </div>
            <div id="rocket_signUp" class="main-block" style="display: none;">
                <h1>SignUp</h1>
                <form >
                  <hr>
                  <div class="account-type">
                    <input type="radio" value="none" id="radioOne" name="account" checked/>
                    <label for="radioOne" class="radio">KYC</label>
                    <input type="radio" value="none" id="radioTwo" name="account" />
                    <label for="radioTwo" class="radio">KYC-LITE</label>
                    <input type="radio" value="none" id="radioThree" name="account" />
                    <label for="radioThree" class="radio">NULL</label>
                  </div>
                  <hr>
                  <label id="icon" for="email"><i class="fas fa-envelope"></i></label>
                  <input type="text" name="email" id="email" placeholder="Email" required/>
                  <label id="icon" for="firstname"><i class="fas fa-user"></i></label>
                  <input type="text" name="firstname" id="firstname" placeholder="FirstName" required />
                  <label id="icon" for="lastname"><i class="fas fa-unlock-alt"></i></label>
                  <input type="text" name="lastname" id="lastname" placeholder="LastName" required/>
                  
                  <!--Adress-->
                  <label id="icon" for="city"><i class="fas fa-unlock-alt"></i></label>
                  <input type="text" name="city" id="city" placeholder="CITY" />
                  <label id="icon" for="zip"><i class="fas fa-unlock-alt"></i></label>
                  <input type="text" name="zip" id="zip" placeholder="zip" />
                  <label id="icon" for="state"><i class="fas fa-unlock-alt"></i></label>
                  <input type="text" name="state" id="state" placeholder="state" />
                  <label id="icon" for="address"><i class="fas fa-unlock-alt"></i></label>
                  <input type="text" name="address" id="address" placeholder="address" />
                  <label id="icon" for="addressAlias"><i class="fas fa-unlock-alt"></i></label>
                  <input type="text" name="addressAlias" id="addressAlias" placeholder="addressAlias" />
                  
                  <!-- Contact -->
                  <label id="icon" for="contactAlias"><i class="fas fa-unlock-alt"></i></label>
                  <input type="text" name="contactAlias" id="contactAlias" placeholder="Contact Alias" />
                  <label id="icon" for="phone"><i class="fas fa-unlock-alt"></i></label>
                  <input type="text" name="phone" id="phone" placeholder="Phone" />
                  <!-- Additional -->
                  <label id="icon" for="DOB"><i class="fas fa-unlock-alt"></i></label>
                  <input type="text" name="DOB" id="DOB" placeholder="Date Of  Birth" />
                  <label id="icon" for="entityName"><i class="fas fa-unlock-alt"></i></label>
                  <input type="text" name="entityName" id="entityName" placeholder="entity name" />
                  <label id="icon" for="ssn"><i class="fas fa-unlock-alt"></i></label>
                  <input type="text" name="ssn" id="ssn" placeholder="ssn" />
                  <div class="btn-block">
                    <button type="button"  onclick="onsubmitForm()">Submit</button>
                  </div>
                </form>
              </div>
        </aside>
    </div>
</div>
<script src="../javascripts/rkfl.js"></script>
<script type="text/javascript">
    let uuid = null;
    let token=null;
    let merchantAuth=null;
    let callBackFunc = function (resp) {
        console.log(resp);
        alert("I am callback function");
        document.getElementById("rocketFuelBtn").style.display = "none";
    }
    let rkfl = null;
    document.querySelectorAll(".increment").forEach((item) => {
        item.addEventListener("click", increment);
    })
    document.querySelectorAll(".decrement").forEach((item) => {
        item.addEventListener("click", decrement);
    })
    function selectKycType(radioOne,radioTwo,radioThree){
    if(radioOne.checked)return "kyc";
    else if(radioTwo.checked)return "kyclite";
    else return "null";
  }
  function onsubmitForm(e){
    let radioOne=document.getElementById('radioOne');
    let radioTwo=document.getElementById('radioTwo');
    let radioThree=document.getElementById('radioThree');
    const kycType=selectKycType(radioOne,radioTwo,radioThree);
    const firstName=document.getElementById('firstname').value;
    const lastName=document.getElementById('lastname').value;
    const email=document.getElementById('email').value;
    const city=document.getElementById('city').value;
    const zip=document.getElementById('zip').value;
    const state=document.getElementById('state').value;
    const address=document.getElementById('address').value;
    const addressAlias=document.getElementById('addressAlias').value;
    const contactAlias=document.getElementById('contactAlias').value;
    const phone=document.getElementById('phone').value;
    const DOB=document.getElementById('DOB').value;
    const entityName=document.getElementById('entityName').value;
    const ssn=document.getElementById('ssn').value;

    const payload={
      kycType:kycType,
      firstName:firstName,
      lastName,lastName,
      email:email,
      kycDetails:{
        city:city,
        zip:zip,
        state:state,
        address:address,
        addressAlias:addressAlias,
        contactAlias:contactAlias,
        phone:phone,
        DOB:DOB,
        entityName:entityName,
        ssn:ssn
      },
      merchantAuth:"<%= merchantAuth %>",
      type:'individual',
    }
    rkfl = new RocketFuel({    environment: "<%= developmentEnv %>",});
     
    rkfl.rkflAutoSignUp(payload,environment= "<%= developmentEnv %>").then((res)=>{
      document.getElementById('rocket-fuel-signup').style.display='none';
      document.getElementById('rocket_signUp').style.display='none';
      document.getElementById('rocket-fuel-login').style.display='block';
      console.log(res);
      document.getElementById('rkfltokenlogin').value=res.result.rkflToken;
    })
  }
    function showInputToken(){
        // document.getElementById("rocket-fuel").style.display = "block";
        // document.getElementById('setrkltoken')
        // token=rkfl?.rkflToken?.result?.rkflToken,
        // merchantAuth="<%= merchantAuth %>";
        // document.getElementById("rocket-fuel-login").style.display = "none";
        token=document.getElementById('rocketfuel_login').style.display="block";

    }

    function setTokenAndAuth(){
        document.getElementById("rocket-fuel").style.display = "block";
        
        // document.getElementById('setrkltoken')
        token=rkfl?.rkflToken?.result?.rkflToken,
        token=document.getElementById('rkfltokenlogin').value;
        merchantAuth="<%= merchantAuth %>";
        document.getElementById("rocket-fuel-login").style.display = "none";
        document.getElementById("rocketfuel_login").style.display="none";
        document.getElementById("placeOrderBtn").style.display="block";
        document.getElementById("rocketFuelBtn").style.display="none";


    }
    function increment(event) {
        let qty = parseInt(event.path[1].childNodes[3].innerText);
        let price = parseFloat(event.path[2].cells[2].childNodes[1].innerText.split("$")[1]);
        event.path[1].childNodes[3].innerText = `${parseInt(qty) + 1}`;
        event.path[2].cells[2].childNodes[1].innerText = `$${parseFloat(price) + parseFloat(price / qty)}`;
        let ans = parseFloat(document.getElementById("totalprice").innerText.split("$")[1]) + parseFloat(price / qty);
        document.getElementById("totalprice").innerHTML = `$${ans}`;
        document.getElementById("finalprice").innerHTML = `$${ans - 10}`
    }

    function decrement(event) {
        let qty = parseInt(event.path[1].childNodes[3].innerText);
        let price = parseFloat(event.path[2].cells[2].childNodes[1].innerText.split("$")[1]);
        if (qty <= 1) {
            return;
        }
        event.path[1].childNodes[3].innerText = `${parseInt(qty) - 1}`;
        event.path[2].cells[2].childNodes[1].innerText = `$${parseFloat(price) - parseFloat(price / qty)}`;
        let ans = parseFloat(document.getElementById("totalprice").innerText.split("$")[1]) - parseFloat(price / qty);
        document.getElementById("totalprice").innerHTML = `$${ans}`;
        document.getElementById("finalprice").innerHTML = `$${ans - 10}`
    }
    function makeOrderData() {
        let allrows = document.getElementsByTagName("tbody");
        let arr = [];
        for (let i = 1; i < allrows[0].childNodes.length; i += 2) {
            let name = allrows[0].childNodes[i].cells[0].childNodes[1].childNodes[3].childNodes[1].innerText //name
            let quantity = allrows[0].childNodes[i].cells[1].innerText.split("\n")[1] //quantity
            let price = allrows[0].childNodes[i].cells[2].innerText.split("$")[1] / quantity;
            let id = String(i);
            arr.push({ id: id, name: name, quantity: quantity, price: price })
        }
        let amount = document.getElementById("finalprice").innerText.split("$")[1];
        let obj = {
            amount: amount,
            cart: arr,
            currency: "USD",
            order: (Date.now()).toString(),
            redirectUrl: "",
        }
        return obj;


    }

    function placeOrder() {
        let data = makeOrderData();
        data = JSON.stringify(data);

        document.getElementById("placeOrderBtn").innerText = "Please wait...";
        fetch(`./placeOrder`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: data
        })
            .then((response) => response.text())
            .then((result) => {
                const uuidInfo = JSON.parse(result);
                if (uuidInfo.error !== undefined) {
                    alert("Order placement failed");
                    return false;
                }
                uuid = uuidInfo.uuid;
                document.getElementById("placeOrderBtn").innerText = "Make Purchase";
                document.getElementById("placeOrderBtn").style.display = "none";
                document.getElementById("rocketFuelBtn").style.display = "block";
                rkfl =  new RocketFuel({
                    uuid,
                    callback: callBackFunc,
                    environment: "<%= developmentEnv %>",
                    token,
                    merchantAuth
                });

            })
            .catch((error) => console.log("error", error));
    }

    function startPayment() {
        document.getElementById("rocketFuelBtn").innerText = "Please wait...";
        rkfl.initPayment();

        //signup method customer merhchantauth,rkfltoken
        //settoken
        //login method            same    
        //setmerhcnat id
        //set shoper rkfltoken   
    }
    
    function openSignUp(){
        document.getElementById("rocket_signUp").style.display = "block"
    }
</script>
</div>

